/*
Colors
Primary
Strong Cyan: hsl(171, 66%, 44%)
Light Blue: hsl(233, 100%, 69%)
Neutral
Dark Grayish Blue: hsl(210, 10%, 33%)
Grayish Blue: hsl(201, 11%, 66%)

font-family: 'Bai Jamjuree', sans-serif;

*/
:root{
    --strongCyan: hsl(171, 66%, 44%);
    --lightBlue: hsl(233, 100%, 69%);
    --darkGrayishBlue: hsl(210, 10%, 33%);
    --grayishBlue: hsl(201, 11%, 66%);
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
}
body{
    text-align: center;
    color: var(--darkGrayishBlue);
}
.bg-header-desktop{
    display: none;
}
header{
    position: relative;
    text-align: center;
}
.bg-header-mobile{
    width:100%;
    height:300px;
    padding: 0;
    margin: 0;
}
.logo{
    position: absolute;
    top:10%;
    z-index: 1;
    left:50%;
    transform: translate(-50%, 60%);
}
.div1,.div2,.div3,.div4 {
    padding: 1em;
    margin: 3em auto 0;
}
.div1 > *,.div2 > *,.div3 > *,.div4 > *,.div5 > *{
    padding: 0.5em 0;
    margin: 0 auto;
}
.icon{
    margin: 1em 0;
}
.brand1{
    margin-top: 2em;
}
.div1, .div5{
    margin: 0;
}
.div2-col2 > *{
    padding:0.5em;
}
.div-content > * {
    padding: 0.5em 0;
    margin: 0 1em;
    max-width: 600px;
}
h1{
    font-size: 1.8em;
}
h2{
    font-size: 1.4em;
}
h3{
    font-size: 1.2em;
}
p{
    font-size: 1em;
    color: var(--grayishBlue);
}
.div5{
    background-color: hsl(202, 19%, 88%);
    color:var(--darkGrayishBlue);
}
.logo-c-f{
    transform: scale(0.5);
    margin: 1em;
}
.f-icon{
    margin: 1em;
    cursor: pointer;
}
.f-icon:hover{
    color: var(--strongCyan);
    cursor: pointer;
}
.image-devices{
    width:100%;
}
.image-computer{
    width:100%;
}
.button{
    display: block;
    width:100%;
    border-radius:20px;
    margin:1em 0;
    border: none;
    cursor: pointer;
    caret-color: white;
    color:white;
}
.forMac{
    background-color: var(--lightBlue);
}
.foriOS{
    background-color: var(--strongCyan) ;
}
.div > p:hover{
    color:var(--strongCyan);
}
svg:hover{
    fill:var(--strongCyan);
    cursor: pointer;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
@media screen and (min-width: 375px) {
    .button{
        max-width: 200px;
        display: inline;
    }
    .div1 > p,.div2 > p,.div3 > p, .div4 > p{
        max-width: 600px;
    }
}
@media screen and (min-width: 775px) {
    body{
        max-width: 1445px;
        margin: auto;
    }
    h1, h2{
        max-width: 600px;
    }
    .div3{
        margin: 0 5em;
    }
    .div3-col3{
        display: flex;
        justify-content: center;
    }
    .div3-col3 > div{
        max-width: 350px;
        padding:0.5em;
    }
    .div2-col2{
        display: flex;
        text-align: left;
        align-items: center;
    }
    .div-content{
        margin-left: 3em;
    }
    .image-computer{
        width:108%;
    }
    .div2-computerimg{
        width:80%;
        overflow: hidden;
        direction: rtl;
    }
    .image-devices{
        max-width: 700px;
        height:auto;
    }
    .div-brand{
        display: flex;
        justify-content: space-evenly;
        margin: 0 2em;
    }
    .brand{
        padding:1em;
        height:auto;
    }
    .brand1{
        margin:0;
    }
    .button{
        max-width: 200px;
        display: inline;
    }
    .div5{
        display: flex;
        align-items: center;
        justify-content: left;
    }
    .div > p{
        padding-top: 1em;
        text-align: left;
    }
}